html, body {
    height: 100%;
    background-color: #262C2C;
  }

.day-primary {
  background-color: #37474F;
}

.day-secondary {
  background-color: #5F6D6D;
}

.curved {
  border-radius: 25px;
}

a {
  text-decoration: none;
  color: black;
}