{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="container h-100 bg-light">
        <div class="row justify-content-center align-items-center h-25">
            <div class="col-6 text-center">
                <h1>{{current_user.username}}'s Dashboard</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-3">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Schedule</h5>
                        <a href="{{ url_for('schedule')}}" class="btn btn-primary stretched-link">View</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Templates</h5>
                      <a href="{{ url_for('templates')}}" class="btn btn-primary stretched-link">View</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Tasks</h5>
                      <a href="{{ url_for('tasks')}}" class="btn btn-primary stretched-link">View</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-4">
            <div class="col-9">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Add Schedule</h5>
                        <a href="{{ url_for('create_schedule')}}" class="btn btn-primary stretched-link">Create</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-4">
            <div class="col-9">
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Calender</h5>
                        <a href="{{ url_for('calender')}}" class="btn btn-primary stretched-link">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}