{% extends "base.html" %}
{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="../static/styles.css">
<link href='../static/lib/main.css' rel='stylesheet' />
<script src='../static/lib/main.js'></script>
<script>
  var events = {{ schedules|safe }}

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: '',
        center:'title',
        right: ''
      },
      initialView: 'listDay',
      initialDate: '{{date}}',
      editable: true,
      businessHours: true,
      dayMaxEvents: true,
      events: events
    });

    calendar.render();
  });

</script>
{% endblock %}
{% block content %}
    <!-- <div class="container  bg-light">
        <div class="row justify-content-center align-items-center h-25">
        </div>
        <div class="row justify-content-center align-items-center h-75 mt-5">
            <div class="col-12">
                <div id='calendar'></div>
            </div>
        </div>
    </div> -->
    <div class="container h-100">
      <div class="row justify-content-center mt-4">
          <div class="col-3 text-white  day-primary curved">
              <h2 class="mt-2 text-center">Schedule</h2>
              <h4 class="mt-2 text-center">{{current_user.username}}</h2>
              <div class="row gap-1 justify-content-center">
                <div class="col-10">
                  <h4 class="mt-4"><a href="{{ url_for('dashboard')}}" class="btn btn-outline-light w-100"><i class="bi bi-layout-text-window-reverse"></i> Dashboard</a></h4>
                  <h4 class="mt-4"><a href="{{ url_for('schedule')}}" class="btn btn-outline-light w-100"><i class="bi bi-calendar3"></i> Schedule</a></h4>
                  <h4 class="mt-4"><a href="{{ url_for('templates')}}" class="btn btn-outline-light w-100"><i class="bi bi-diagram-2"></i> Templates</a></h4>
                  <h4 class="mt-4"><a href="{{ url_for('tasks')}}" class="btn btn-outline-light w-100"><i class="bi bi-list-task"></i> Tasks</a></h4>
                </div>
              </div>
          </div>
          <div class="col-1"></div>
          <div class="col-8 ">
              <!-- Line 1400 in lib/main css to control hover color -->
              <h4 class="text-white">Options</h4>
              <div class="row day-secondary curved p-4">
                
                  <p>
                    <a class="btn btn-warning" data-bs-toggle="collapse" href="#templateForm" role="button" aria-expanded="false" aria-controls="templateForm">Change Template</a>
                    <a class="btn btn-danger" href="{{ url_for('delete_schedule', schedule=schedule) }}">Delete Schedule</a><
                  </p>
                  <div class="row">
                    <div class="col-6">
                      <div class="collapse" id="templateForm">
                        <div class="card card-body">
                          <form action="/edit_schedule/{{schedule}}" method="POST">
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.id(value=schedule) }}
                                {{ form.new_date.label }}
                                {{ form.new_date()}}
                            </p>
                            <p>
                                {{ form.new_template.label }}
                                {{ form.new_template()}}
                            </p>
                            <p> {{ form.submit() }} </p>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
                

              </div>
              <h4 class="text-white mt-4">Selected Schedule</h4>
              <div class="row day-secondary curved pb-4">
                  <div class=" text-white" id='calendar'></div>
              </div>
        </div>
      </div>
  </div>
{% endblock %}