{% extends 'base.html' %}
{% block title %}{{template.name}} - Template{% endblock %}
{% block content %}
    <div class="container h-100 bg-light">
        <div class="row justify-content-center align-items-center h-25">
            <div class="col-6 text-center">
                <h1>{{template.name}}</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mb-4">
            <div class="col-5 text-center">
                <h4>Add Todos</h4>
                <form action="/edit_template/{{template.name}}" method="POST">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.task.label }}
                        {{ form.task()}}
                    </p>
                    <p>
                        {{ form.start_time.label }}
                        {{ form.start_time()}}
                    </p>
                    <p>
                        {{ form.end_time.label }}
                        {{ form.end_time()}}
                    </p>
                    <p>
                        {{ form.notes.label }}
                        {{ form.notes()}}
                    </p>
                    <p> {{ form.submit() }} </p>
                </form>
            </div>
            <div class="col-5 text-center">
                <h4>Current Todos</h4>
                {% for todo in todos|sort(attribute='start_time') %}
                <p class="fs-4">{{ todo.task.title }}: {{ todo.start_time.strftime("%H:%M") }} - {{ todo.end_time.strftime("%H:%M") }} </h4>
                <a href="{{ url_for('edit_todo', todo_id=todo.id, todo=todo.task.title, template=template.name) }}" class="btn btn-secondary">edit</a>  
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center align-items-center">

        </div>
    </div>
{% endblock %}