{% extends 'base.html' %}
{% block title %}Tasks{% endblock %}
{% block content %}
    <div class="container h-100 bg-light">
        <div class="row justify-content-center align-items-center h-25">
            <div class="col-6 text-center">
                <h1>{{current_user.username}}'s Tasks</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-6 text-center">
                <h1>Edit Task</h1>
                <form action="/edit_task/{{task_title}}" method="POST">
                    {{ form.hidden_tag() }}
                    <p> {{task_title}} </p>
                    <p>
                        {{ form.id(value=task) }}
                        {{ form.new_title.label }}
                        {{ form.new_title() }}
                    </p>
                    <p> {{ form.submit() }} </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}