{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container h-100 text-white">
        <div class="row justify-content-center align-items-center h-50">
            <div class="col-5 day-primary text-center me-4">
                <h3>Intro</h3>
            </div>
            <div class="col-5 day-primary text-center">
                <h3>What is Day Maker?</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5 day-primary text-center me-4">
                <h3>Technologies used?</h3>
            </div>
            <div class="col-5 day-primary text-center">
                <h3>Contact</h3>
            </div>
        </div>
    </div>
{% endblock %}