{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container h-100 text-white">
        <div class="row justify-content-center align-items-center h-50">
            <div class="col-12 col-md-6 day-primary curved">
                <h2 class="text-center">What is Day Maker?</h2>
                <p class="fs-4">Day Maker is a server side scheduling web application with user authentication. It allows users to create schedules through the use of templates. A template is a premade list of to-dos. Each to-do contains a single task, start-time, end-time, and notes if necessary.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 day-primary text-center curved">
                <h3>Further Questions?</h3>
                <p class="fs-4">Please feel free to contact me at <a href="mailto: shavaine@msn.com"><button class="btn btn-primary">Shavaine@msn.com</button></a></p>
            </div>
        </div>
        {% if current_user.is_authenticated %}
        <div class="row justify-content-center text-center day-primary curved mt-3 fixed-bottom">
            <a class="col-3 text-white" href="{{ url_for('dashboard')}}"><i class="bi bi-layout-text-window-reverse"></i><br/>Dashboard</a>
        </div>
        {% endif %}
    </div>
{% endblock %}