{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="container h-50">
        <div class="row justify-content-center align-items-center h-50">
            <div class="col-6 text-center text-white">
                <h1>Login</h1>
            </div>
        </div>
        <div class="row justify-content-center h-25">
            <div class="col-12 col-lg-5 col-md-7 day-primary py-4 curved">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <form method="POST" action="/login">
                            {{ LoginForm.hidden_tag() }}
                            <div class="mb-3">
                                <label class="form-label text-white">{{ LoginForm.username.label }}</label>
                                {{ LoginForm.username(type="input", class="form-control") }}
                            </div>
                            <div class="mb-3">
                                <label class="form-label text-white">{{ LoginForm.password.label }}</label>
                                {{ LoginForm.password(type="password", class="form-control") }}
                            </div>
                            <div>{{ LoginForm.submit(class="btn btn-primary") }}</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}