{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="container h-100 bg-light">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-5 bg-secondary my-auto py-4">
                <form class="text-center" method="POST" action="/login">
                    <h2 class="text-center text-white mb-3">Register</h2>
                    {{ RegisterForm.hidden_tag() }}
                    <p class="text-white">
                        {{ RegisterForm.username.label }}
                        {{ RegisterForm.username() }}
                    </p>
                    <p class="text-white">
                        {{ RegisterForm.password.label }}
                        {{ RegisterForm.password() }}
                    </p>
                    <p class="text-white">
                        {{ RegisterForm.password_repeat.label }}
                        {{ RegisterForm.password_repeat() }}
                    </p>
                    <p class="text-white">
                        {{ RegisterForm.email.label }}
                        {{ RegisterForm.email() }}
                    </p>
                    <p>{{ RegisterForm.submit() }}</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}