{% extends 'base.html' %}
{% block title %}{{ template }}{% endblock %}
{% block content %}
    <!-- <div class="container h-100 bg-light">
        <div class="row justify-content-center align-items-center h-25">
            <div class="col-6 text-center">
                <h1>{{ template }}</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-6 text-center">
                <h4>{{ template }}</h4>
                {% for todo in todos|sort(attribute='start_time') %}
                <p class="fs-4">{{ todo.task.title }}: {{ todo.start_time.strftime("%H:%M") }} - {{ todo.end_time.strftime("%H:%M") }} </h4>  
                {% endfor %}
            </div>
        </div>
    </div> -->
    <div class="container h-100">
        <div class="row justify-content-between mt-4">
            <div class="d-none d-lg-block col-md-3 col-lg-3 text-white day-primary curved">
                <h2 class="mt-2 text-center">Dashboard</h2>
                <h4 class="mt-2 text-center">{{current_user.username}}</h2>
                <div class="row gap-1 justify-content-center">
                  <div class="col-10">
                    <h4 class="mt-4"><a href="{{ url_for('dashboard')}}" class="btn btn-outline-light w-100"><i class="bi bi-layout-text-window-reverse"></i> Dashboard</a></h4>
                    <h4 class="mt-4"><a href="{{ url_for('schedule')}}" class="btn btn-outline-light w-100"><i class="bi bi-calendar3"></i> Schedule</a></h4>
                    <h4 class="mt-4"><a href="{{ url_for('templates')}}" class="btn btn-outline-light w-100"><i class="bi bi-diagram-2"></i> Templates</a></h4>
                    <h4 class="mt-4"><a href="{{ url_for('tasks')}}" class="btn btn-outline-light w-100"><i class="bi bi-list-task"></i> Tasks</a></h4>
                  </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <div class="row day-secondary curved p-2 justify-content-around">
                        <a class="btn btn-success col-10 col-md-3 mb-2 mb-sm-0" data-bs-toggle="collapse" href="#templateForm" role="button" aria-expanded="false" aria-controls="templateForm">Add Todo</a>
                        <a class="btn btn-secondary col-10 col-md-4 mb-2 mb-sm-0" data-bs-toggle="collapse" href="#taskForm" role="button" aria-expanded="false" aria-controls="templateForm">Create Task</a>
                        <a class="btn btn-danger col-10 col-md-4" href="{{ url_for('delete_template', template=template) }}">Delete Template</a>
                    <div class="row mt-2">
                        <div class="col-6">
                            <div class="collapse" id="templateForm">
                                <div class="card card-body">
                                    <form action="/add_todo/{{template}}" method="POST">
                                    {{ AddForm.hidden_tag() }}
                                    <div class="form-floating mb-3">
                                        {{ AddForm.task(type="select", class="form-control", id="add-task") }}
                                        <label for="add-task">{{ AddForm.task.label }}</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        {{ AddForm.start_time(type="time", class="form-control", id="start_time") }}
                                        <label for="start_time">{{ AddForm.start_time.label }}</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        {{ AddForm.end_time(type="time", class="form-control", id="end_time") }}
                                        <label for="end_time">{{ AddForm.end_time.label }}</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        {{ AddForm.notes(type="text", class="form-control", id="notes") }}
                                        <label for="notes">{{ AddForm.notes.label }}</label>
                                    </div>
                                    <p> {{ AddForm.submit(class="btn btn-secondary") }} </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="collapse" id="taskForm">
                                <div class="card card-body">
                                    <form action="/{{template}}/create_task" method="POST">
                                        {{ AddTaskForm.hidden_tag() }}
                                        <div class="form-floating mb-3">
                                            {{ AddTaskForm.title(type="input", class="form-control", id="task-create") }}
                                            <label for="task-create">{{ AddTaskForm.title.label }}</label>
                                        </div>
                                        <p> {{ AddTaskForm.submit(class="btn btn-secondary") }} </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="text-white mt-4">{{ template }}</h4>
                <div class="row">
                    <div class="col-12">
                        {% for todo in todos|sort(attribute='start_time') %}
                        <div class="row day-secondary my-2 py-2 curved">
                                <div class="col fs-4 text-white ">
                                    <div>{{ todo.start_time.strftime("%H:%M") }} - {{ todo.end_time.strftime("%H:%M") }} : {{ todo.task.title }}</div>
                                </div>
                                <div class="col text-end">
                                    <div class="btn btn-primary" data-bs-toggle="collapse" href="#notes{{ todo.id }}" role="button" aria-expanded="false" aria-controls="notes">Notes</div>
                                    <div class="btn btn-info" data-bs-toggle="collapse" href="#edit{{ todo.id }}" role="button" aria-expanded="false" aria-controls="edit">Edit</div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <div class="collapse" id="notes{{ todo.id }}">
                                            <p class="text-white">{{ todo.notes}}</p>
                                        </div>
                                    </div>
                                </div>  
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <div class="collapse" id="edit{{ todo.id }}">
                                            <div class="card card-body">
                                                <form id="editForm" class="form-floating" action="/edit_todo/{{template}}/{{todo.id}}" method="POST">
                                                    {{ EditTodoForm.hidden_tag() }}
                                                    <div class="form-floating mb-3">
                                                        {{ EditTodoForm.id(value=todo) }}
                                                        {{ EditTodoForm.new_task(type="select", class="form-control") }}
                                                        <label class="form-label">{{ EditTodoForm.new_task.label }}</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        {{ EditTodoForm.new_start_time(value=todo.start_time.strftime("%H:%M"), type="time", class="form-control") }}
                                                        <label class="form-label">{{ EditTodoForm.new_start_time.label }}</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        {{ EditTodoForm.new_end_time(value=todo.end_time.strftime("%H:%M"), type="time", class="form-control") }}
                                                        <label class="form-label">{{ EditTodoForm.new_end_time.label }}</label>
                                                    </div>
                                                    <div class="form-floating mb-3">
                                                        <textarea class="form-control" id="new_notes" name="new_notes" type="text">{{ todo.notes }}</textarea>
                                                        <label class="form-label">{{ EditTodoForm.new_notes.label }}</label>
                                                    </div>
                                                    <p> {{ EditTodoForm.submit(class="btn btn-secondary") }} </p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-lg-none justify-content-center text-center day-primary mt-3 fixed-bottom">
            <a class="col-3 text-white btn" href="{{ url_for('dashboard')}}"><i class="bi bi-layout-text-window-reverse"></i><br/>Dash</a>
            <a class="col-3 text-white btn" href="{{ url_for('schedule')}}"><i class="bi bi-calendar3"></i><br/>Schedule</a>
            <a class="col-3 day-secondary text-black btn" href="{{ url_for('templates')}}"><i class="bi bi-diagram-2"></i><br/>Template</a>
            <a class="col-3 text-white btn" href="{{ url_for('tasks')}}"><i class="bi bi-list-task"></i><br/>Tasks</a>
        </div>
    </div>
{% endblock %}