{% extends 'base.html' %}
{% block title %}Tasks{% endblock %}
{% block content %}
    <div class="container h-100 bg-light">
        <div class="row justify-content-center align-items-center h-25">
            <div class="col-6 text-center">
                <h1>{{current_user.username}}'s Tasks</h1>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mb-4">
            <div class="col-5 text-center">
                <h4>Add Tasks</h4>
                <form action="/tasks" method="POST">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.title.label }}
                        {{ form.title()}}
                    </p>
                    <p> {{ form.submit() }} </p>
                </form>
            </div>
            <div class="col-5 text-center">
                <h4>My Tasks</h4>
                {% for task in current_user.tasks %}
                <p class="fs-4">{{ task.title }}</h4>
                <a href="{{ url_for('edit_task', task_title=task.title) }}" class="btn btn-info">Edit</a>
                <a href="{{ url_for('delete_task', task_title=task.title) }}" class="btn btn-danger">Delete</a>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center align-items-center mb-4">
            <div class="col-6 text-center">
                <label for="cars">My Task:</label>
                <select name="cars" id="cars">
                  {% for task in current_user.tasks %}
                  <option value="{{ task.title }}">{{ task.title }}</option>
                  {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endblock %}